<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pathrer.event">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="PU9YBsWaTPFSp3HgqcNSejxAIaPJLJzGDYON6zu7" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="BsYpCxHooGKAShLXamzNMztqXrl7YVCBJTodLkhn" />
        -->
        <!-- Splash screen -->
        <activity
            android:name=".FlashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Venues"
            android:label="@string/title_activity_venues"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Catering"
            android:label="@string/title_activity_catering"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FlowerDecoration"
            android:label="@string/title_activity_flower_decoration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Managers"
            android:label="@string/title_activity_managers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Priests"
            android:label="@string/title_activity_priests"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
